<% provide(:title, 'ダッシュボード') %>
<nav>
  <ul>
<%= render partial: 'nav' %>
  </ul>
</nav>
<header>

</header>
<article>
  <p>ようこそ <%= current_user.name %> さん。</p>
    <% if current_user?(current_user) %>
  <p><%# link_to '編集', edit_user_path, :id => current_user.id %></p>
    <% end %>
  <h2>更新履歴</h2>
  <dl>
    <% @Infos.each do |s| %>
    <dt><%= s.publishing_date %></dt>
    <dd><%= s.title %></dd>
    <% end %>
  </dl>
</article>
