<% provide(:title, 'ダッシュボード') %>
<nav>
  <ul>
<%= render partial: 'nav' %>
  </ul>
</nav>
<header>

</header>
<article>
  <table border="1">
    <col span="1" width="100" />
    <col span="1" width="200" />
    <tbody>
      <tr>
        <th>名前</th>
        <td><%= current_user.name %></td>
      </tr>
    </tbody>
  </table>

    <% if current_user?(current_user) %>
  <p><%# link_to '編集', edit_user_path, :id => current_user.id %></p>
    <% end %>
</article>
