<% provide(:title, 'ダッシュボード') %>
<nav>
  <ul>
<%= render partial: 'nav' %>
  </ul>
</nav>
<header>

</header>
<article>
  <table border="1">
    <tr>
      <th>名前</th>
      <td><%= current_user.name %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= current_user.email %></td>
    </tr>
  </table>

    <% if current_user?(current_user) %>
  <p><%# link_to '編集', edit_user_path, :id => current_user.id %></p>
    <% end %>
</article>
