/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	font-size:12px;
	margin:0px;
	font-family:"Meiryo UI";
}

th{
	background-color:#ffffcc;
	padding:2px;
}

td{
	padding:2px;
}


a, a:visited{
	color:#00c;
}

.kilo,.date{
	text-align:right;
}

.abo{
	background-color:#cccccc;
	color:#000000;
}

.chk{
	text-align:center;
}

.foot{
	background-color:#666666;
	color:#ffffff;
	text-align:right;
}

#show{
	background-color:#99ff99;
	padding:2px 2px 2px 10px;
}

#edit{
	background-color:#ccccff;
	padding:2px 2px 2px 10px;
}

#search_h1{
	background-color:#0099ff;
	padding:2px 2px 2px 10px;
}

#sub{
	font-weight:bold;
	background-color:#ccffcc;
	color:#009900;
	padding:5px;
	border:solid 1px #009900;
}

#sub p{
	margin:0px;
}

#a_section{
	font-weight:bold;
	margin-left:10px;
}

#abo_warn{
	font-weight:bold;
	color:#0000ff;
}

#caution{
	font-weight:bold;
	background-color:#ffdede;
	color:#ff0000;
	padding:5px;
        border:solid 1px #ff0000;
}

#caution p{
	margin:0px;
}

#maps{
	margin:10px 0px;
}

dd ul{
	margin-left:0px;
	padding-left:0px;
	list-style:none;
}

dd li{
	margin-left:0px;
}

dt, #maps p, .s_title{
	font-weight:bold;
	padding-left:2px;
	border-left:solid 5px #00cc66;
}

dd{
	margin:3px 0px 10px 15px;
}

.st_left{
	text-align:left;
}

.st_center{
	text-align:center;
	font-weight:bold;
}

.st_right{
	text-align:right;
}

nav{
	background-color:#999999;
	padding:10px 5px 5px 5px ;
	margin:0px;
}

nav a{
	font-weight:bold;
	color:#ffffff;
}

nav ul{
	display:inline;
	margin:0px;
	padding:0px;
}

nav li{
	display:inline;
	padding:10px;
}

/**/
nav a, nav a:visited{
	font-weight:bold;
	color:#ffffff;
}

#head_this a, #head_this a:visited{
	font-weight:bold;
	color:#000000;
}
/**/

#head_this{
	font-weight:bold;
	background-color:#ffffff;
	color:#000000;
}

header {
        margin:0px ;
}

header > h1 {
}

article {
	margin:10px;
}

.summary {
	margin-bottom:10px;
}

#announce {
	padding-left:10px;
}

#announce p{
	font-size:12px;
	margin:0px 0px 10px 0px;
}

.dateform {
	width:60px;
}

#search{
	margin:0px 0px 10px 0px;
}

.links{
	margin:10px 0px;
}

.links ul{
        display:inline;
        margin:0px;
        padding:0px;
}

.links li{
        display:inline;
	margin:0px;
        padding:5px;
}

#choose{
	margin:0px 0px 10px 0px;
}

footer {
	padding:5px;
	margin:0px;
}

footer p{
	margin: 5px 10px;
	text-align:right;
}
