    <li><%= link_to 'ダッシュボード', :controller => 'dashboards', :action => 'show' %></li>
    <li><%= link_to '日本国内鉄道会社一覧', :controller => 'companies', :action => 'index' %></li>
    <li><%= link_to '都道府県一覧', :controller => 'states', :action => 'index' %></li>
